.community_section__button_wrapper {
  margin-top: 36px;
}

.button {
  padding: 8px 30px;
  background-color: #0092f6;
  color: #fff;
  border-radius: 100px;
  text-decoration: none;
  border: none;
}