.involve_card {
  padding: 20px;
  border-radius: 4px;
}

.involve_card__title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
}

.involve_card:hover {
  background-color: #daeefd;
}