.technology_card {}

.technology_card__img {}

.technology_card__title {
  color: white;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

.technology_card__subtitle {
  color: white;
}