.section {}

.involve_section__container {
  padding: 40px 20px 80px 20px !important;
}

.involve_section__title {
  color: #243f5f;
  line-height: 43px;
  font-size: 36px;
  margin-bottom: 42px;
  font-weight: 700;
}

.involve_card__img {
  vertical-align: middle;
}

