.network_section {
  padding: 80px 0;
}

.network_section__container {
  padding: 40px 20px;
}

.network_section__title {
  color: #243f5f;
  margin-top: 0;
  margin-bottom: 52px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}
